.footer-container {
  background-color: $purple;
  height: 45px;
  width: 100%;
  opacity: 0.8;
}

.footer-container h4 {
  font-family: $base-font;
  color: $light-purple;
}

.footer-fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}

.footer-container a {
  font-size: 20px;
  text-decoration: none;
  color: $light-purple;
  padding-bottom: 10px;
}
