.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}



.product-body p {
    text-align: left;
  }

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: left;
  transition: all 0.15s ease;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}


.extra-extra-wrapper {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}



@media (max-width: 600px) {
  .extra-extra-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}


.cv-list {
  text-align: left;
}

.tabs {
  display: flex;
}

.tabs a {
  color: $light-purple;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}

.tabs h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  font-family: $header-font;
}

.card-tab {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: $base-font;
}


.card-tab a {
  color: $medium-purple;
}

.card-tab a:hover {
  text-decoration: none;
}




.card-tab p {
  text-align: right;
}


.tab {
  background-color: rgba($purple, .8);
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid rgba($medium-purple, 1);
}

#last_row {
    .tab {
  background: $purple;
  opacity: 0.8;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
  border-bottom: 0px;
  }

  .tab.active {
    background: $medium-purple;
    color: $black;
    opacity: 1;
  }

  .card-tab {
    border-bottom: 4px solid $medium-purple;
  }
}

.tab p {
  opacity: 1;
}

.tab.active {
  background: $medium-purple;
  color: $black;
  opacity: 1;
}

.tab-content p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: $base-font;
}

.tab-content h1, h2, h3, h4, h5 {
  font-family: $base-font;
}
