<div class="bio-card text-center">
test
  <p>
  After finishing my MA in Journalism, I decided it was time to learn how to code.<br>
  Ideally I'm looking for a job where I can apply my newly learned skills to journalism.
  </p>
</div>
