<div class="bio-card text-center">
  <p>
  After finishing my MA in Journalism, I decided it was time to learn how to code.
  I'm looking for a job where I can learn more about coding, journalism or a job where I can combine the two.
  </p>
</div>
