
<div class="footer-container text-center footer-fixed">

          <ul class="list-inline">

<li class="text-center"> <h4>Let's talk!</h4>  </li>

          <li class="text-center">
            <a href="https://github.com/pauliense" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i><br>
            </a>
          </li>
          <li class="text-center">
            <a href="https://nl.linkedin.com/in/paulien-sewuster-01438643" target="_blank">
              <i class="fa fa-linkedin-square"></i> <br>
            </a>
          </li>
          <li class="text-center">
            <a href="mailto:paulien.sewuster@gmail.com?subject=Contact%20from%20Portfolio" target="_blank">
              <i class="fa fa-envelope-o"></i><br>
            </a>
          </li>
        </ul>
</div>
