<div class="extra-extra-wrapper" >
  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center" id="first_row">
      <div class="tabs">
        <a class="tab" data-target="#journalism">
          <h3>Journalism</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="journalism">
    <div class="card-tab">
      <div class="container">
        <div class="row">
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82402/42366566" width="220" height="150" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class=".col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p>
              Super coole tekst die hier bij hoort!
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82197/45463985" width="220" height="150" frameborder="0" scrolling="no"></iframe>          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p>coole tekst 2
            ik wil veel meer tekst
            nog meer
            nog meer
            geef me tekst
            oor het profiel
            moet ik meer etkst
            veel meer
            super cool
            hello
            doei

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center">
      <div class="tabs">
        <a class="tab" data-target="#development">
          <h3>Web Development</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="development">
    <div class="card-tab">
      <p>Here are my projects.</p>
    </div>
  </div>

  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center">
      <div class="tabs">
        <a class="tab" data-target="#skills">
          <h3>Skills</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="skills">
    <div class="card-tab">
      <P>Skills tekst</P>
    </div>
  </div>

  <div id="last_row">
    <div class="profile-header-wrapper">
      <div class="profile-header-container text-center">
        <div class="tabs">
          <a class="tab" data-target="#education">
            <h3>Education</h3>
          </a>
        </div>
      </div>
    </div>

  <div class="tab-content hidden" id="education">
    <div class="card-tab">
      <ul class="list-unstyled">
        <li>
          <p>
            - student <a href="http://lewagon.org/program" class="btn-red" target="_blank">@LeWagon</a>
          </p>
        </li>
      </ul>
      <br>
      <br>
    </div>
  </div>
  </div>
</div>

