<div class="extra-extra-wrapper">
    <div class="profile-header-wrapper">
      <div class="profile-header-container text-center">
        <div class="tabs">
          <a class="tab active" data-target="#bio">
            <h3>Bio</h3>
          </a>
          <a class="tab" data-target="#projects">
            <h3>Projects</h3>
          </a>
           <a class="tab" data-target="#education">
            <h3>Education</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="tab-content" id="bio">
      <div class="card-tab">
      <P>test</P>
      </div>
    </div>

      <div class="tab-content hidden" id="projects">
        <div class="card-tab">
          <p>Here are my projects.</p>
        </div>
      </div>

      <div class="tab-content hidden" id="education">
        <div class="card-tab">

        <p>This is my education.</p>
        <h2>student <a href="http://lewagon.org/program" class="btn-red" target="_blank">@LeWagon</a>
        </div>
      </div>
</div>
