<div class="extra-extra-wrapper" >
  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center" id="first_row">
      <div class="tabs">
        <a class="tab" data-target="#journalism">
          <h3>Journalism</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="journalism">
    <div class="card-tab">
      <div class="container">
        <div class="row">
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">



           <iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82402/42366566" width="250" height="300" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class=".col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <br>
            <p>
              As a freelancer I produced an episode for the investigative radio program Argos (VPRO), about the reselling of concert tickets and how this market evolved in the Netherlands. The research for this project was done jointly with
  <a href="https://nl.linkedin.com/in/atze-de-vrieze-5644918", target="_blank">Atze de Vrieze</a> of 3voor12(VPRO).
            </p>
            <p><em>
            For this project I researched, edited the audio, recorded and conducted interviews.</em>
            </p>
<a href="http://www.vpro.nl/argos/media/afleveringen/2015/Secondary-Ticketing--tweedehands-kaartjes.html", target="_blank">
Link to the episode
            </a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82197/45463985" width="250" height="300" frameborder="0" scrolling="no"></iframe>          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p>Text about episode.

            </p>
            <a href="http://www.vpro.nl/dorst/items/2015/Radio-in-het-donker.html", target="_blank">
Link to the episode
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center">
      <div class="tabs">
        <a class="tab" data-target="#development">
          <h3>Web Development</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="development">
    <div class="card-tab">
      <p></p>
    </div>
  </div>

  <div class="profile-header-wrapper">
    <div class="profile-header-container">
      <div class="tabs">
        <a class="tab" data-target="#skills">
          <h3>Skills</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="tab-content hidden" id="skills">
    <div class="card-tab">
      <p></p>
    </div>
  </div>

  <div id="last_row">
    <div class="profile-header-wrapper">
      <div class="profile-header-container">
        <div class="tabs">
          <a class="tab" data-target="#education">
            <h3>Education</h3>
          </a>
        </div>
      </div>
    </div>

  <div class="tab-content hidden" id="education">
    <div class="card-tab">








<div class="product">
  <div class='product-upvote'>
    <div class='product-count'><h4>2016</h4></div>
  </div>
  <div class='product-body'>
    <h4>student <a href="http://lewagon.org/program" class="btn-red" target="_blank">@LeWagon</a></h4>
    <p>Les meilleures offres d'emploi cadre sur mobile</p>
  </div>
</div>
<div class="product">
  <div class='product-upvote'>
    <div class='product-count'><h4>2013 - 2016</h4></div>
  </div>
  <div class='product-body'>
    <h4>MA Journalism</h4>
    <p>Les meilleures offres d'emploi cadre sur mobile</p>
  </div>
</div>







      <ul class="list-unstyled cv-list">
          <li>
          <p>
            2011 - 2013 BA Philosophy (of a certain scientific discipline)
          </p>
        </li>
          <li>
          <p>
            2009 - 2012 BA Dutch Language and Culture
          </p>
        </li>
      </ul>
      <br>
      <br>
    </div>
  </div>
  </div>
</div>

