<div class="extra-extra-wrapper" >
  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center" id="first_row">
      <div class="tabs">
        <a class="tab" data-target="#journalism">
          <h3>Journalism</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="tab-content hidden" id="journalism">
    <div class="card-tab">
      <div class="container">
        <div class="row">
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82402/42366566" width="250" height="300" frameborder="0" scrolling="no"></iframe>
         </div>
         <div class=".col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <br>
          <h4>Argos - Secondary ticketing <em>(Dutch)</em></h4>
          <p>
            As a freelancer I produced an episode for the investigative radio program Argos (VPRO), about the reselling of concert tickets and how this market evolved in the Netherlands. The research for this project was done jointly with
            <a href="https://nl.linkedin.com/in/atze-de-vrieze-5644918", target="_blank">Atze de Vrieze</a> of 3voor12 (VPRO).
          </p>
          <p>
            <em>
              For this project I researched, edited the audio, recorded and conducted interviews.
            </em>
          </p>
          <a href="http://www.vpro.nl/argos/media/afleveringen/2015/Secondary-Ticketing--tweedehands-kaartjes.html", target="_blank">
            Link to the episode</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <iframe style="border: solid 1px #dedede;"  src="https://app.stitcher.com/splayer/f/82197/45463985" width="250" height="300" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h4>VPRO Dorst - De Nieuwe Laura <em> (Dutch)</em> </h4>
              <p>VPRO Dorst enabled me to take part in a radio storytelling workshop, taught by the makers of
              <a href="http://www.vpro.nl/programmas/radio-doc/toendra.html", target="_blank">Toendra</a> and <a href="http://www.vpro.nl/programmas/plots.html", target="_blank">Plots</a>. For this workshop I made several short radio documentaries. The workshop ended with a listening night at the Volkshotel in Amsterdam, for which I made this radio documentary about a young woman and her journey with MS.
              </p>
              <p>
                <em>
                  For this project I recorded and conducted the interview and also edited the audio.
                </em>
              </p>
            <a href="http://www.vpro.nl/dorst/items/2015/Radio-in-het-donker.html", target="_blank">Link to the episode</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <%= image_tag "logo-glasnost.png", class:"logo-journalism"%>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h4>Radio director - Glasnost - OOG Radio</h4>
              <p>
                For a year I
              </p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="profile-header-wrapper">
    <div class="profile-header-container text-center">
      <div class="tabs">
        <a class="tab" data-target="#development">
          <h3>Web Development</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="tab-content hidden" id="development">
    <div class="card-tab text-center">
      <h3>Stick to it - app </h3>
      <p>In the last two weeks of the Le Wagon coding bootcamp I coded this web application in a team. It is designed to help you focus on life goals like being healthier, being more zen, being more productive. To make progress on these life goals, you can take on 21 day challenges (for example: 21 days of yoga). For these challenges you can buddy up with another user of the app to motivate each other.</p>
      <div class="carousel-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/stick-to-it5.png" alt="..." id=#project-slide>
              <div class="carousel-caption try">
                <h3>The homepage</h3>
              </div>
            </div>
            <div class="item">
              <img src="images/stick-to-it2.png" alt="..." id=#project-slide>
              <div class="carousel-caption try">
                <h3>Signing up for a challenge</h3>
              </div>
            </div>
            <div class="item">
              <img src="images/stick-to-it1.png" alt="..." id=#project-slide>
              <div class="carousel-caption try">
                <h3>User dashboard</h3>
              </div>
            </div>
            <div class="item">
              <img src="images/stick-to-it4.png" alt="..." id=#project-slide>
              <div class="carousel-caption try">
                <h3>Challenge dashboard</h3>
              </div>
            </div>
            <div class="item">
              <img src="images/stick-to-it3.png" alt="..." id=#project-slide>
              <div class="carousel-caption try">
                <h3>Chatfunction</h3>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-header-wrapper">
    <div class="profile-header-container">
      <div class="tabs">
        <a class="tab" data-target="#skills">
          <h3>Skills</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="tab-content hidden" id="skills">
    <div class="card-tab text-center">
      <p>
       <div class="container">
        <div class="row">
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-unstyled">
              <h4>Front-end</h4>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Bootstrap</li>
              <li>jQuery</li>
              <li>(a little bit of) Javascript</li>
            </ul>
          </div>
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-unstyled">
              <h4>Back-end</h4>
              <li>Ruby</li>
              <li>Ruby on Rails</li>
              <li>SQL</li>
              <li>PostgreSQL</li>
              <li>Heroku</li>
              <li>Git</li>
              <li>GitHub</li>
            </ul>
          </div>
          <div class=".col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-unstyled">
              <h4>Journalism</h4>
              <li>Audio editing</li>
              <li>Research</li>
              <li>Interviewing</li>
              <li>(basic) Video editing</li>
              <li>Writing</li>
            </ul>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>

<div class="profile-header-wrapper">
  <div class="profile-header-container">
    <div class="tabs">
      <a class="tab" data-target="#education">
        <h3>Education</h3>
      </a>
    </div>
  </div>
</div>
<div class="tab-content hidden" id="education">
  <div class="card-tab">
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'><p>2016</p></div>
      </div>
      <div class='product-body'>
        <h4>Bootcamp Full Stack Web Development <a href="http://lewagon.org/program" class="btn-red" target="_blank">@LeWagon</a></h4>
        <p>Attended Le Wagon Amsterdam (Batch #38).

          9-week intensive coding bootcamp learning Ruby, Rails, HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, Git, GitHub and Heroku.</p>
        </div>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class='product-count'><p>2013 - 2016</p></div>
        </div>
        <div class='product-body'>
          <h4>MA Journalism @ University of Groningen</h4>
          <p></p>
        </div>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class='product-count'><p>2011 - 2013</p></div>
        </div>
        <div class='product-body'>
          <h4>BA Philosophy (of a certain scientific discipline) @ University of Groningen</h4>
        </div>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class='product-count'><p>2009 - 2012</p></div>
        </div>
        <div class='product-body'>
          <h4>BA Dutch Language and Culture @ University of Groningen</h4>
          <p>With a minor in Journalism.</p>
        </div>
      </div>
    </div>
  </div>
</div>

