---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
<div class="profile-header-infos">

        <ul class="list-inline">
          <li class="text-center">

        <%= image_tag "paulien.jpg", class:"avatar-large" %>


          </li>
          <li class="text-center">

          <h1>Paulien Sewuster</h1>
          </li>
          <li class="text-center">

          <h2>student <a href="http://lewagon.org/program" class="btn-red" target="_blank">@LeWagon</a>
          </h2>
          </li>
        </ul>
          <p>After finishing my MA in Journalism, I decided it was time to learn how to code.</p>

        </div>
</div>

<%= partial "tabs" %>   <!-- call _navbar.html.erb partial -->



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>

