<div class="text-center padded">
  <div class="profile-header-infos">
    <div class="header">
      <div class="profile-image">
<%= image_tag "paulien.jpg", class:"avatar-square" %>
      </div>
      <div class="header-information">
<h1>
  Paulien Sewuster
</h1>
<h4>
  Journalist & Rubyist
</h4>
      </div>
    </div>
  </div>
    <%= partial "bio" %>
    <%= partial "tabs" %>   <!-- call _navbar.html.erb partial -->
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>

